html{
    box-sizing: border-box;
    height: 100%;
}
*,*::before,*::after{
    box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
    font-size: inherit;
}
body{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: $dark;
	 height: 100%;
	 overflow-x: hidden;
}
a{
    display: inline-block;
    text-decoration: none;
    color: $color-text;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:  0 15px;
}
.container__fluid{
    max-width: 100%;
    margin: 0 auto;
    padding:  0 30px;
}

@media (max-with:720px){
    .container__fluid{
        padding:  0 15px;
    }
}

.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
}

* {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}
.page__asside-title{
    font-size: 20px;
    color: $dark;
    @include f700;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 15px;
}

.post__info__name-text,.post-comments,.post-like{
	display: none;
}

.post__info__price{
	span{ display: none;}
}
.login-off{
	display: none !important;
}
.basket-box.basket-off{
	.basket__number{
		background-color: #e74c3c;
	}
}
.green__list{
	position: relative;
	z-index: 2;
	&::before{
				content: '\f105';
				position: absolute;
				color: $green;
				left: 0;
				font-size: 18px;
				font-family: 'icomoon';
                }
}

.header__icon{
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background-color: #f5f5f5;
		position: relative;
		&::before{
			position: absolute;
			font-size: 14px;
			color: #a0a0a0;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
}
.header{
	position: relative;
}
.burger__btn{
	display: none;
	width: 30px;
	li{
		height: 4px;
		background-color: $dark;
		&+li{
			margin-top: 4px;
			background-color: $dark;
		}
	}

}