@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import"animation";

// =======================================HEADER==================================================
.header__inner{
    display: flex;
    justify-content: space-between;
    min-height: 90px;
    align-items: center;
}
.panel{
    display: flex;
    align-items: center;
    
    &__help{
        margin-right: 50px;
        span{
            color: $color-text;
        }
        a{
            color: $red;
        }
        .panel__help-phone{
            color: $color-text;
            position: relative;
        }
    }
    
}
.panel__btn{
    padding: 9px;
    width: 72px;
    border-radius: 4px;
    line-height: 13px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}
.login{
    background-color: $green;
}
.register{
    background-color: $red;
    margin-left: 7px;
}
.header__down{
    background-color: $dark;

}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
    li{
        display: inline-block;
        a{
            color: #ffffff;
            font-weight: 500;
            font-size: 14px;
        }
        &+li{
            margin-left: 30px;
        }
    }
}
// =======================================HEADEREND==================================================
// =======================================SEARCH==================================================
.search{
    min-height: 535px;
    background-size: cover;
    background-position:center;
    &__inner{
        padding-top: 155px;
        padding-bottom: 100px;
        color: #ffffff;
        text-align: center;
        &-title{
            font-size: 48px;
            line-height: 72px;
            font-weight: 700;
        }
        &-subtitle{
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            margin-bottom: 55px;
            margin-top: 10px;
        }
        &-form{
            position: relative;
            max-width: 672px;
            margin: 0 auto;
            input{
                padding-left: 25px;
                height: 56px;
                width: 100%;
                padding-right: 50px;
                font-weight: 500;
                box-shadow: 0px 1px 10px 0px rgba(100, 100, 100, 0.75);
                border-radius: 4px;
                border: none;
                &::placeholder{
                    font-weight: 500;
                    color: #90a4ae;
                }
            }
            button{
                position: absolute;
                background-color: transparent;
                border: none;
                right: 20px;
                top: 17px;
            }
        }
    }
}
// =======================================ENDSEARCH==================================================

// =======================================PRODUCT====================================================
.products{
    padding: 110px 0;
    background-color: $grey_bg;
}

.product__title{
    margin-bottom: 50px;
}

.product__inner-filter{
    text-align: center;
    margin-bottom: 60px;
    .mixitup-control-active{
            color: #ffffff;
        background-color: #e74c3c;

    }
    button{
        padding: 10px 20px;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
        outline: none;
        &+button{
            margin-left: 5px;
        }
    }
}
.item__post{
	transition: all .5s;
    &-picture{
        display: block;
        min-height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    &__info{
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 90px;
        padding: 0 30px;
    }
}
.post__info{
    &__name{
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 315px;
        &-title{
        display: block;
       @include f500;
        font-size: 18px;
        color: $dark;
        line-height: 30px;

        }
        &-category{
            color: $green;
            font-size: 14px;
            font-weight: 500;
        }
    }
    &__price{
        font-weight: 700;
        font-size: 20px;
    }
}

.post__about{
    padding: 0 30px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #e7ecf2;
    min-height: 70px;
    align-items: center;
    &__raiting{
        display: flex;
        align-items: center;
        font-size: 12px;
        span{
            color: $color-text;
        }
        .raiting-number{
            color: $dark;
        }
    }
}
.post__author{
    display: flex;
    align-items: center;
    max-width: 200px;
    &-avatar{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 15px;
    }
    &-nik{
        color: $color-text;
        font-size: 14px;
        font-weight: 500;
        word-wrap: break-word;
    }
}
.product__inner-filter-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__inner-filter-down{
    margin-top: 60px;
    text-align: center;
    .mixitup-control-active{ 
        color: #ffffff;
        background-color: #e74c3c;
    }
    button{
        background-color: #ffffff;
        padding: 20px 30px;
        outline: none;
        border: none;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        font-size: 16px;
        line-height: 16px;
        cursor: pointer;
        &+button{
            margin-left: 10px;
            
        }
        
    }
}
.raiting-star{
    cursor: pointer !important;
    padding: 0 15px;
}

.product__wrapper-item{
    margin-bottom: 20px;
    max-width: 442px;
    width: 100%;
    border: 1px solid #d4d4d4;
    &:hover{
        transition: all .5s;
        box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    }
}
// =======================================ENDPRODUCT==================================================

// =======================================PRODUCTSLIDER==================================================

.product__slider{
    padding: 110px 0;
    &-item{
        display: inline-block;
        max-width: 442px;
        width: 100%;
        border: 1px solid #e3e3e3;
    }
    &-title{
        font-size: 36px;
        text-align: center;
        @include f700;
        margin-bottom: 60px;
    }
}   

.product__slider-inner{
    .slick-dots{
        margin-top: 60px;
        display: flex;
        justify-content: center;   
      li{
            
            &.slick-active{
                button{
                background-color: $green;
                }
            }
            &+li{
                margin-left: 7px;
            } 
        }
        button{  
            border: none;
           font-size: 0;
            background-color: #e8e8e8;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            outline: none;
            cursor: pointer;
        }
        
    }
}


// =======================================ENDPRODUCTSLIDER==================================================

// =======================================FOOXTAR==================================================
.foxtar{
    min-height: 616px;
    background-color: $dark;
    padding: 120px 0;
    &-title{
        color: #ffffff;
        text-align: center;
        font-size: 36px;
        @include f700
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
    }
    &__item{
        text-align: center;
        max-width: 330px;
        width: 100%;
        &-picture{
           margin: 0 auto;
            width: 115px; 
            height: 115px;
            border-radius: 50%;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
           
        }
        &-title{
            color: #ffffff;
            @include f500;
            font-size: 24px;
            margin-top: 30px;
        }
        &-text{
            color:#7c888e;
            line-height: 24px;
            font-size: 15px;
            margin-top: 30px;
        }
    }
}
.lock{    
    svg{
    width: 55px;
    height: 75px;
    }
    a:hover{
        .foxtar__item-picture{
        transition: all .5s;
        background-color: $green;
        }
        svg{
            transition: all .5s;
            fill: #ffffff;
        }
        .foxtar__item-title{
        transition: all .5s;
           color: $green;
        }
    }
}
.prise{
    svg{
    width: 70px;
    height: 75px;
    }
    a:hover{
        .foxtar__item-picture{
        transition: all .5s;
        background-color: $green;
        }
        svg{
            transition: all .5s;
            fill: #ffffff;
        }
        .foxtar__item-title{
        transition: all .5s;
           color: $green;
        }
    }
}
.heart{
    svg{
    width: 85px;
    margin-top: 10px;
    height: 75px;
    }
    a:hover{
        .foxtar__item-picture{
        transition: all .5s;
        background-color: $green;
        }
        svg{
            transition: all .5s;
            fill: #ffffff;
        }
        .foxtar__item-title{
        transition: all .5s;
           color: $green;
        }
    }
}
// =======================================ENDFOOXTAR==================================================
// =======================================AUTHOR==================================================
.author{
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.author__box{
   min-height: 217px;
   max-width: 660px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: $green;
   padding: 10px 60px;
   &-title{
       max-width: 270px;
       color: #ffffff;
       font-size: 30px;
       line-height: 36px;

   }
   &-link{
       color:$dark;
       font-size: 18px;
       padding: 20px 40px;
       background-color: #ffffff;
   }
}

// =======================================ENDAUTHOR==================================================

// =======================================OFFER==================================================
.offer{
    min-height: 655px;
    padding: 70px 0 120px;
    &-title{
        margin-bottom: 60px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        &-item{
            max-width: 370px; 
            width: 100%;
            text-align: center;
        }
    }
}
.offer__item{
    
    &-picture{
        display: block;
        min-height: 270px;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
        
    }
    &-title{  
        padding-top: 35px;
        padding-bottom: 40px;
        background-color: $grey_bg;
        a{ 
        color: $dark;
        font-size: 24px;
        }
    }
}
// =======================================ENDOFFER==================================================
// =======================================FOOTER==================================================
    .footer{
        min-height: 560px;
        padding: 115px 0 30px;
        background-color: $dark;
        &__inner{
            display: flex;
            justify-content: space-between;
            padding-bottom: 100px;
        }
        &__title{
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 22px;
            color: #ffffff;
            padding-bottom: 22px;
            position: relative;
            margin-bottom: 30px;
            &::after{
                content: '';
                height: 3px;
                width: 51px;
                bottom: 0;
                left: 0;
                position: absolute;
               
                background-color: $green;
            }
        }
        &__col{
            max-width: 273px;
            width: 100%;
        }
        &__menu{
            max-width: 224px;
            width: 100%;
            li{
                padding-left: 20px;
                margin-bottom: 15px;
                position: relative;
                &::before{
                    content: '\f105';
                    position: absolute;
                    color: $green;
                    left: 0;
                    font-size: 18px;
                    font-family: 'icomoon';
                }
                a{
                    color: #b7c3c8;
                    font-size: 15px;
                }
            }
        }
    }

    .about{
        &-text{
            font-size: 15px;
            color: #b7c3c8;
            margin-bottom: 30px;
        }
        &-adress{
            display: block;
            position: relative;
            font-size: 14px;
            color: #ffffff;
            max-width: 250px;
            padding-left: 30px;
            @include f500;
            margin-bottom: 20px;
            &::before{
                content: '\f041';
                position: absolute;
                color: $green;
                left: 0;
                font-size: 18px;
                font-family: 'icomoon';
            }
        }
        &-phone{
            padding-left: 30px;
            position: relative;
            color: #ffffff;
            @include f500;
            &::before{
                content: '\f095';
                position: absolute;
                color: $green;
                left: 0;
                font-size: 18px;
                font-family: 'icomoon';
            }
        }
    }
    .social{
        &-title{
            font-size: 20px;
            color: #ffffff;
            margin-bottom: 20px;
        }
        ul{
            margin-bottom: 38px;
        }
        li{
            display: inline-block;
            &+li{
                margin-left: 7px;
            }
           a{
            width: 28px;
            height: 28px;
           }
        }
        form{
            position: relative;
        }
        input{
            height: 40px;
            width: 260px;
            padding-right: 42px;
            padding-left: 15px;
            background-color: #2f3c43;
            border: none;
           
            &::placeholder{
                font-size: 14px;
                color: #697378;
            }
        }
        button{
            position: absolute;
            width: 42px;
            height: 40px;
            outline: none;
            border: none;
            background: $green;
            right: 7px;
            bottom: 0;
            &::before{
                content: '\f124';
                color: #ffffff;
                font-family: 'icomoon';
                font-size: 20px;
                position: absolute;
                left: 14px;
                bottom: 7px;
            }
        }
    }

    .footer__down{
        color: #919699;
        text-align: center;
        border-top:1px solid  #424d53;
        padding-top: 27px;
    }

    .col-facebook{
        background-position: -0 -0;
    }
    .col-twitter{
        background-position: -28px -28px;
       
    }
    .col-youtube{
        background-position: -56px -0;
    }
    .col-pinterest{
        background-position: -28px -0;
    }
    .col-in{
       
        background-position: -0 -28px;
    }
// =======================================FOOTER==================================================
// =======================================PAGE-ITEMS==================================================

.page_items-breadcrumbs{
    background-color: $grey_bg;
}
.page_items-search{
    .search__inner-title{
        display: none;
    }
    .search{
        min-height: 230px;
    }
    .search__inner{
        padding-top: 55px;
        padding-bottom: 70px;
    }
    .search__inner-subtitle{
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .search__inner-form{
        input{
        box-shadow: 0px 1px 10px 0px rgba(100, 100, 100, 0.75);
        border-radius: 4px;
        border: none;
        }
    }
}


.breadcrumbs{
    font-size: 15px;
    min-height: 100px;
    display: flex;
    align-items: center;
    li{
        &:last-child{
            a{
            color: $dark;
            }
        }
        display: inline-block;
        a,span{
            color: #b0bec5;
        }
        &+li{
            position: relative;
            padding-left: 20px;
            &::before{
                left: 8px;
                content: '-';
                width: 4px;
                height: 1px;
                color: $green;
                position: absolute;
            }
        }
    }
}

.page-wrpapper{
    display: flex;
    padding-bottom: 110px;
}

.page_items-pages{
    background-color: $grey_bg;
}
.page_items__asside{
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
}

.page_items-category{
    padding:  25px 34px 25px 22px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    margin-bottom: 30px;
}
.category{
  
    &-list{
        li{
            margin: 15px 0;
            padding-left: 20px;
            position: relative;
            display: flex;
            justify-content: space-between;
            &::before{
                content: '\f105';
                position: absolute;
                color: $green;
                left: 0;
                font-size: 14px;
                font-family: 'icomoon';
            }
            a{
                color: rgba($dark, .5);
            }
            span{
                font-size: 15px;
                color: #90a4ae;
            }
        }
    }
}
.page_items-products{
    width: 100%;
    &__search{
        width: 100%;
        min-height: 60px;
        background-color: $dark;
        margin-bottom: 30px;
    }
    &__post-wrapper{
        .item__post{
            max-width: 270px;
            width: 100%;
        }
        .item__post-picture{
            min-height: 180px;
        }
    }
}

.page_items__filter{
    padding:  25px 34px 30px 22px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    margin-bottom: 30px;
    button{
        margin-top: 27px;
        background-color: $green;
        position: relative;
        padding: 15px 77px 15px 83px;
        border: none;
        outline: none;
        text-align: center;
        color: #ffffff;
        font-size: 15px;
        cursor: pointer;
        @include f500;
        &::before{
            content: '\f002';
            position: absolute;
            font-size: 15px;
            font-family: 'icomoon';
            left: 58px;
            top: 12px;
        }
    }
    .irs--flat .irs-line{
        height: 5px;
        background-color: #f2f5f8;
    }
    .irs--flat .irs-bar{
        height: 5px;
        background-color: $dark;
    }
    .irs--flat .irs-min, .irs--flat .irs-max{
        display: none;
    }
    .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
        top: 35px;
        background-color: transparent;
        font-size: 15px;
        color: #78909c;
        font-family: 'Roboto-Regular';
        &::before{
            display: none;
        }
    }
    .irs--flat .irs-handle>i:first-child{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 4px solid $green;
        background-color: #ffffff;
        left: 0;
        top: -2px;
    }
    
    
}

.page_items__topsellers{
    button{
        padding: 15px 77px;
        background-color: $green;
        cursor: pointer;
        border: none;
        outline: none;
        a{
        font-size: 15px;
        color: #ffffff;
        @include f500;
        }
    }
    padding: 25px 34px 30px 22px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    li:first-child{
        .page_items__topsellers__wrapper-items{
        margin-top: 25px;
        }
    }
    li:last-child{
        .page_items__topsellers__wrapper-items{
                border-bottom: none;
                margin-bottom: 40px;
                padding-bottom: 0;
            }
        }
    .page_items__topsellers__wrapper-items{
        padding-bottom: 20px;
        border-bottom: 1px solid #dde3e8;
        max-width: 210px;
        margin-top: 30px;
        
        .item__post{
            
            &-picture{
                min-height: 120px;
            }
            &__info{
                padding: 0px;
            }
        }
        .post__info{
            min-height: 70px;
            &__name{
            max-width: 170px;
                &-title{
                    font-size: 16px;
                    @include f700;
                    line-height: 20px;
                }

            }
            &__price{
                font-size: 16px;
            }
        }
        .post__about{
            min-height: 40px;
            border-top:none;
            padding: 0px;
            &__raiting{
                .raiting-star{
                    padding-right: 0px;
                }
                >span{
                    display: none;
                }
            }
        }
        .post__author{
            &-avatar{
                margin-right: 13px;
            }
            &-nik{
                font-size: 14px;
            }
        }
    }
}


.page_items-products__post{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.page_items-products__post-wrapper{
	transition: all .5s;
    max-width: 270px;
    width: 100%;
    margin-top: 30px;
    border: 1px solid #d4d4d4;
    &:hover{
        transition: all .5s;
        box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    }
    .post__info{
        padding: 0 25px;
    }
    .post__info__name-title{
        font-size: 16px;
    }
    .post__about{
        min-height: 65px;
        padding: 0 25px;
    }
    .post__author-avatar{
        margin-right: 8px;
        min-width: 30px;
    }
    .raiting-star{
        padding: 0 9px;
    }
    .post__author{
        &-nik{
        width: 86px;
        word-break: break-word;
        }
       
    }
}

.products__search{
	border: 1px solid #d7d7d7;
	display: flex;
	padding-left: 21px;
	padding-right: 25px;
	min-height: 60px;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	button{
		cursor: pointer;
		background-color: transparent;
		border: none;
		outline: none;
	}
}
.products__search__sort{
	&-text{
		display: inline-block;
		color: #707070;
		font-size: 14px;
		margin-left: 12px;
		margin-right: 10px;
	}
	&-arrows{
		display: inline-block;
		position: relative;
		
		.arrowup{
			position: absolute;
			bottom: -3px;
			color: #707070;
		}
		.arrowdown{
			position: absolute;
			top: -12px;
			color: #707070;
		}
	}
}
.products__search__sort-up,.products__search__sort-down{
	display: none;
	color: #455a64;
}


.product__search__show{
	button{
		color: #90a4ae;
		font-size: 16px;
		&+button{
			margin-left: 8px;
		}
	}
}

.page_items__pogination{
	margin-top: 40px;
	li{
		display: inline-block;
		box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
		&+li{
			margin-left: 6px;
		}
		a{
			width: 43px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 38px;
			background-color: #ffffff;
			font-size: 16px;
			@include f500;
			color: $dark;
		}
	}
	.active{
		
		a{
			background-color: $red;
			color: #ffffff;
		}
	}
}

.product__search__show-large.product-btn-active{
	color: $green;
}
.product__search__show-list.product-btn-active{
	color: $green;
}
.products__search__sort-down.sort-active
		{
		display: inline-block;
	}
.products__search__sort-up.sort-active
		{
		display: inline-block;
	}

	.page_items-products__post-wrapper.products__wrapper-list{
		transition: all .5s;
		max-width: 100%;
		background-color: #ffffff;
		.item__post-picture{
			max-width: 240px;
			width: 100%;
		}

		.post__info__name-text,.post-comments,.post-like{
		display: inline-block;
		}
		.post__info__price{
			text-align: right;
			font-size: 30px;
			line-height: 60px;
			span{
				
				display: block;
				color: #aeb4bb;
				font-size: 13px;
			}
		}
		.post__info{
			margin-top: 16px;
		}
		.post__info__name{
			max-width: 500px;
			&-text{
				margin-top: 12px;
					display: block;
					font-size: 14px;
					color: #70838d;
					line-height: 18px;
			}
		}
		.item__post{
			max-width: 100%;
			display: flex;
			justify-content: space-between;
		}
		.info-wrapper{
			width: 100%;
		}
		.post__about{
		min-height: 60px;
		margin-top: 10px;
	}

	.raiting-star{
		padding-right: 5px;
	}
	
	.post-comments,.post-like{
		color: #b0bec5;
		padding-left: 47px;
		position: relative;
		font-size: 12px;
		margin-left: 31px;
		.number{
			color:$dark;
		}
		&::after{
			content: '|';
			position: absolute;
			color: #aeb4bb;
			font-size: 16px;
			left: 0;
			top: -2px;
		}
		&::before{
			position: absolute;
			font-size: 16px;
			color: $green;
			left: 18px;
			top: 0px;
		}
	}
	.post-comments{
		&::before{
			top: -2px;
		}
	}



	}

	
// =======================================END PAGE-ITEMS==================================================



  
@import "media";
